@import "blocks/vars";
@import "vendor/reset";

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: $secondary;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: white;
  line-height: 1.5;
}
@import "blocks/page";
@import "blocks/header";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/container";
@import "blocks/social";
@import "blocks/button";
