* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 22px/1.5 Arial, Helvetica, sans-serif;
}

.title {
  text-transform: uppercase;
}

@supports (-webkit-appearance:none) {

}

@media (max-width: 700px) {
  body {
    color: #fff;
    background-color: #000;
  }

  .title {
    text-align: center;
  }

@supports (-webkit-appearance:none) {

}
}