<div class="modal" id="contact-modal">
    <div class="modal__content">
        <form class="form form--auth" action="/" method="post">
            <div class="form__group">
                <input class="form__control" placeholder="Введите имя" type="text">
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input class="form__control" placeholder="Ваш e-mail" type="email">
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <textarea class="form__control form__control--textarea" placeholder="Текст сообщения"></textarea>
                <span class="form__line"></span>
            </div>

            <div class="form__footer">
                <div class="form__group form__group--md">
                    <button class="btn  btn--blue  btn--rounded  btn--sm" type="submit">Отправить</button>
                </div>
            </div>
        </form>

        <ul class="modal__footer">
            <li>Email: <a href="mailto:lozovoialeksandr2019@gmail.com">lozovoialeksandr2019@gmail.com</a></li>
            <li>Tel: <a href="tel:+79118482734">+7-911-848-27-34</a></li>
        </ul>

        <button class="modal__close">
            <img src="img/close.svg" alt="close">
        </button>
    </div>
</div>