<div class="modal">
    <div class="modal__content modal__content--share">
        <button class="modal__close">
            <img src="img/close.svg" alt="close">
        </button>

        <ul class="social">
            <li class="social__item">
                <a href="#" class="social__link"><img src="img/share1.svg" alt="share1"></a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link"><img src="img/share2.svg" alt="share2"></a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link"><img src="img/share3.svg" alt="share3"></a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link"><img src="img/share4.svg" alt="share4"></a>
            </li>
        </ul>
    </div>
</div>