<aside class="sidebar">
    <div class="sidebar__header">
        <img src="/img/sidebarHeader.jpg" alt="sidebarHeader">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img src="/img/profileAvatar.jpg" alt="avatar" class="profile__avatar">
            <div class="profile__name">Aлександр Лозовой</div>
            <div class="profile__prof">Блог фронтенд разработчика</div>


            <ul class="social">
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank"><img src="/img/instagram.svg" alt="instagram"></a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank"><img src="/img/vk.svg" alt="vk"></a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank"><img src="/img/pinterest.svg" alt="pinterest"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar__footer"></div>
</aside>