.cabinet__title {
  font-size: 21px;
  margin-bottom: 30px;
  @include breakpoint($tablet) {
    text-align: center;
  }
}

.cabinet {
  display: flex;
  @include breakpoint($tablet) {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

.cabinet__form {
  width: 340px;
  @include breakpoint($tablet) {
    width: 100%;
  }
}

.cabinet__avatar {
  flex-grow: 1;
  padding-left: 110px;
  img {
    display: block;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
  }
  @include breakpoint($tablet) {
    padding-left: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}

.cabinet__file {
  font-size: 14px;
  color: $blue;
  cursor: pointer;
  text-decoration: underline;
  transition: text-decoration 0.3s linear;
  &:hover {
    text-decoration: none;
  }
  input {
    display: none;
  }
}
