.cabinet__title {
  font-size: 21px;
  margin-bottom: 30px;
}

.cabinet {
  display: flex;
}

.cabinet__form {
  width: 340px;
}

.cabinet__avatar {
  flex-grow: 1;
  padding-left: 110px;
  img {
    display: block;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
  }
}

.cabinet__file {
  font-size: 14px;
  color: $blue;
  cursor: pointer;
  text-decoration: underline;
  transition: text-decoration 0.3s linear;
  &:hover {
    text-decoration: none;
  }
  input {
    display: none;
  }
}
