.post {
  background-color: $primary;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
  padding: 25px;
  box-shadow: 0 15px 25px rgba($black, 0.35);
  margin-bottom: 30px;
  overflow: hidden;
}

.post__actions {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
  transition: opacity 0.3s linear;
  &:hover {
    opacity: 1;
  }
  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  &-share {
    display: flex;
  }
  &-icon {
    margin-left: 4px;
  }
}

.post__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.post__title {
  margin-bottom: 15px;
  a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-weight: 500;
    transition: text-decoration 0.3s linear;
    &:hover {
      text-decoration: underline;
    }
  }
  &--mb0 {
    margin-bottom: 0;
  }
}
.post__header {
  margin: 0 0 25px;
  &--preview {
    margin: -25px -25px 25px;
  }
}

.post-content {
  border-bottom: #1c1c1c 1px solid;
}

.post__description {
  font-family: inherit;
  color: #d2d2d2;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 12px;
}
.post__text {
  font-family: inherit;
  color: $white;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 12px;
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.15em;
  }
  h5,
  h6 {
    font-size: 1em;
  }

  ul,
  ol {
    margin-bottom: 20px;
  }

  ol {
    list-style: decimal;
    list-style-position: inside;
  }
  p {
    margin-bottom: 20px;
  }

  a {
    color: $blue;
    text-decoration: none;
    transition: text-decoration 0.2s linear;
    &:hover {
      text-decoration: underline;
    }
  }

  table {
    width: 100%;
    margin-bottom: 20px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.post__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__data {
  display: flex;
}

.post__data-item {
  font-family: inherit;
  color: #828282;
  font-size: 12px;
  a {
    font-family: inherit;
    color: #828282;
    font-size: 12px;
    text-decoration: none;
  }

  &:not(:last-child):after {
    content: "";
    margin: 2px 5px 2px 2px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #c4c4c4;
  }
}

.post__read {
  font-family: inherit;
  font-size: 14px;
  color: #107eff;
  text-decoration: none;
  transition: text-decoration 0.3s linear;
  &:hover {
    text-decoration: underline;
  }
}
