.sidebar {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-color: $primary;
  box-shadow: 5px 0 15px rgba(#050505, 0.1);
  z-index: $z-index-sidebar;
}

.sidebar__content {
  margin-top: -50px;
}

.sidebar__header {
  height: 180px;
  border-color: $secondary;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile {
  text-align: center;
}

.profile__name {
  font-size: 18px;
  font-weight: regular;
  color: $white;
}

.profile__prof {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  color: #dedede;
  margin-bottom: 17px;
}
.profile__avatar {
  position: relative;
  margin: 0 auto 19px auto;
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid $white;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
}

.profile__text {
  margin: 30px 15px;
  padding: 30px 0;
  color: $white;
  font-size: 12px;
  font-weight: 400;
  border-top: 1px #1c1c1c solid;
  border-bottom: 1px #1c1c1c solid;
}

.sidebar__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
