.stories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 13px;
  grid-auto-rows: 195px;
  margin-bottom: 30px;
  @include breakpoint($mobile) {
    grid-template-columns: 140px 140px 140px 140px;
    overflow: auto;
  }
}

.stories__item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba($black, 0.2);
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-image: linear-gradient(
      to bottom,
      rgba($black, 0.6),
      rgba($black, 0) 50%,
      rgba($black, 0.6)
    );
  }
  &:hover {
    .stories__preview {
      transform: scale(1.3);
      transition-duration: 3s;
    }
  }
}

.stories__preview {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(1.05);
  transition: transform 1s ease-in-out;
}

.stories__tittle,
.stories__date {
  width: 100%;
  padding: 14px;
  line-height: 1.3;
  font-size: 12px;
  color: $white;
  position: absolute;

  left: 0;
  z-index: 3;
}

.stories__tittle {
  top: 0;
}
.stories__date {
  bottom: 0;
  text-align: right;
}
