.work__title {
  font-size: 21px;
  margin-bottom: 30px;
}

.work {
  display: flex;
  background-color: $primary;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 15px 25px rgba($black, 0.35);
  margin-bottom: 30px;
  overflow: hidden;
}

.work__preview {
  overflow: hidden;
  width: 50%;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.work__content {
  width: 50%;
  padding: 25px;
}

.work__title {
  transition: text-decoration 0.3s linear;
  a {
    color: inherit;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.work__text {
  font-size: 16px;
  font-weight: 200;
  color: #d2d2d2;
  margin-bottom: 30px;
}

.work__tags {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work__tags-item {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  color: $white;
  background: $primary;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 25px;
}
