.work__title {
  font-size: 21px;
  margin-bottom: 30px;

  @include breakpoint($tablet) {
    text-align: center;
  }
}

.work {
  display: flex;
  background-color: $primary;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 15px 25px rgba($black, 0.35);
  margin-bottom: 30px;
  overflow: hidden;

  @include breakpoint($tablet) {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 0 auto 30px auto;
  }
}

.work__preview {
  overflow: hidden;
  width: 50%;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  @include breakpoint($tablet) {
    width: 100%;
    height: 200px;
  }
}

.work__content {
  position: relative;
  width: 50%;
  padding: 25px;
  @include breakpoint($tablet) {
    width: 100%;
  }
}

.work__title {
  transition: text-decoration 0.3s linear;
  a {
    color: inherit;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.work__text {
  font-size: 16px;
  font-weight: 200;
  color: #d2d2d2;
  margin-bottom: 30px;
}

.work__tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include breakpoint($tablet) {
    margin-bottom: 50px;
  }
}

.work__tags-item {
  display: inline-block;
  margin: 0 5px 10px 5px;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.1;
  color: $white;
  background: #ea8c1e;
  padding: 4px 9px;
  border-radius: 3px;
}

.work__footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
